@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/**
 * This stylesheet will be loaded automatically after all,
 * if the current language is RTL (right-to-left direction)
 *
 * Note: The following rules and files are only general basic adjustments.
 */

/* Base rules for RTL */
@import url(../../../libraries/jyaml/yaml/add-ons/rtl-support/core/base-rtl.css);

/* Hlist navigation changes for RTL */
@import url(../../../libraries/jyaml/yaml/add-ons/rtl-support/navigation/hlist-rtl.css);

/*
 * Layout changes for RTL
 */
@media screen, projection
{
	/**
	 * Formatting basic layout elements
	 */

	.page_margins, .ym-wrapper { text-align: right; }

	header { padding-right: 20px; padding-left: 2em; }

	#topnav ul li { float: right; margin: 0 .5em 0 0; }

	#breadcrumbs { padding-right: 20px; padding-left: 0; }

	.pagination ul { float: right; }

	/* ----------------------------------------------------------------------------------- */

	/**
	* A tiny set of formatting Joomla! specific elements
	*/
	#system-debug { text-align:right; }

	/* ----------------------------------------------------------------------------------- */

	/**
	 * Adjustments for index file variations
	 */

	/* component template file that most used for popups */
	body.tmpl-component { text-align: right; }

	/* ----------------------------------------------------------------------------------- */

}

/*
 * Content changes for RTL
 */
@media all
{

	/**
	 * Lists
	 */

	ul,
	ol,
	dl {
		margin-left: 0;
		margin-right: 1em;
	}

	li {
		margin-left: 0;
		margin-right: 0.8em;
	}

	dd {
		margin-left: 0;
		margin-right: 0.8em;
	}

	/* ----------------------------------------------------------------------------------- */

	/**
	 * General text formatting
	 */

	blockquote {
		margin-left: 0;
		margin-right: 1.5em;
	}

	.text-ltr {
		direction: ltr;
		text-align: left;
	}

}

/*
 * Vlist navigation changes for RTL
 */
@media all
{
	.ym-vlist { text-align: right; }
	.ym-vlist li { float:right; }

	/* Level 1 */
	.ym-vlist a,
	.ym-vlist strong,
	.ym-vlist span.separator {
		padding-left: 0px;
		padding-right: 10%;
	}

	/* Level 2 */
	.ym-vlist li ul li a,
	.ym-vlist li ul li strong,
	.ym-vlist li ul li span.separator {
		padding-left: 0px;
		padding-right: 20%;
	}

	/* Level 3 */
	.ym-vlist li ul li ul li a,
	.ym-vlist li ul li ul li strong,
	.ym-vlist li ul li ul li span.separator {
		padding-left: 0px;
		padding-right: 30%;
	}

	/* Level 4 */
	.ym-vlist li ul li ul li ul li a,
	.ym-vlist li ul li ul li ul li strong,
	.ym-vlist li ul li ul li ul li span.separator {
		padding-left: 0px;
		padding-right: 40%;
	}
}
