@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/* Force white color and set distances */
body {
	background: #fff;
	padding: 2px;
	margin: 0;
	border: 0;
	text-align: left;
}

/* Highlight Grid/Column containers */
body .ym-grid>div>div,
body .ym-column>div>div {
	border: #ccc 1px dashed; /* Subtemplates with border in Editor Mode*/
}

/* Make scripts visible */
body script {
	display: block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	background: url(../../../libraries/jyaml/assets/images/script.gif) no-repeat;
}

/* Add as default .floatbox and clearfix Class and highlight */
.ym-contain-dt,
.ym-contain-oh,
.ym-contain-fl {
	border: 1px dotted #ccc;
}

.ym-clearfix {
	border: 1px dotted #ccc;
}

/* Make more pretty editor preview for modern browsers */
.ym-contain-dt:before,
.ym-contain-oh:before,
.ym-contain-fl:before,
.ym-clearfix:before,
.ym-cbox:before,
.ym-gbox:before,
.ym-grid:before,
.ym-grid>div[class^="ym-g"]:before,
.ym-column:before,
.ym-column>div[class^="ym-col"]:before {
	content: 'special container';
	display: block;
	background: #aaa;
	color: #fff;
	padding:1px 4px;
	font-style: italic;
	font-size: 12px;
}
.ym-cbox:before { content: 'Content container (.ym-cbox)'; }
.ym-gbox:before { content: 'Content container (.ym-gbox)'; }
.ym-grid:before { content: 'YAML Grid container (.ym-grid)'; border-bottom: 1px dotted #aaa; background-color:#ccc; font-size: 10px; }
.ym-column:before { content: 'YAML Column container (.ym-column)'; border: 1px dotted #aaa; background-color:#ccc; font-size: 10px; }
.ym-grid>div[class^="ym-g"]:before,
.ym-column>div[class^="ym-col"]:before { content: 'Column'; background-color:#ccc; font-size: 10px; }
.ym-column>div[class="ym-col1"]:before { content: 'Column (.ym-col1)'; }
.ym-column>div[class="ym-col2"]:before { content: 'Column (.ym-col2)'; }
.ym-column>div[class="ym-col3"]:before { content: 'Column (.ym-col3)'; }
.ym-contain-dt:before { content: 'Content container containing floats via "display:table; width: 100%;" (.ym-contain-dt)'; }
.ym-contain-oh:before { content: 'Content container containing floats via "overflow:hidden; width: 100%;" (.ym-contain-oh)'; }
.ym-contain-fl:before { content: 'Content container containing floats via "float:left; width: 100%;" (.ym-contain-fl)'; }
.ym-clearfix:before { content: 'Content Clearfix container (.ym-clearfix)'; }
