@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@media print
{
/**
	* @section basic layout preparation
	* @see     http://www.yaml.de/en/documentation/css-components/layout-for-print-media.html
	*/

	/* Change font size unit to [pt] - avoiding problems with [px] unit in Gecko based browsers  */
	body {
		font-size: 10pt;
		padding: 0 5px;
	}

	/* Hide unneeded container of the screenlayout in print layout */
	.ym-noprint { display: none !important; }

	#topnav, nav, #search,
	#breadcrumbs, .buttonheading, ul.contentbuttons { display: none; }

	/*------------------------------------------------------------------------------------------------------*/

	/* Avoid page breaks right after headings */
	h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

	/*------------------------------------------------------------------------------------------------------*/

	/* Optional output of acronyms and abbreviations */
	/*
	abbr[title]:after,
	acronym[title]:after {
		content:'(' attr(title) ')';
	}
	*/

	/*------------------------------------------------------------------------------------------------------*/

	/* Optional URL output of hyperlinks in print layout */
	/*
	a[href]:after {
		content:" <URL:"attr(href)">";
		color:#444;
		background:inherit;
		font-style:italic;
	}
	*/

	/* force non URL output of hyperlinks in the header */
	header h1 a[href]:after { content: ""; }

	/**
	 * Show only main column in print view
	 */

	/* Layout: 1col_3 (only one column) */
	body.layout-1col_3 .ym-col1 { /* @hide */ display: none; }
	body.layout-1col_3 .ym-col2 { /* @hide */ display: none; }
	body.layout-1col_3 .ym-col3 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }

	/* Layout: 2col_13 (normal/default view) */
	body.layout-2col_13 .ym-col1 { /* left  */ display: none; }
	body.layout-2col_13 .ym-col2 { /* @hide */ display: none; }
	body.layout-2col_13 .ym-col3 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }

	/* Layout: 2col_32 (normal/default view) */
	body.layout-2col_32 .ym-col1 { /* @hide */ display: none; }
	body.layout-2col_32 .ym-col2 { /* @hide */ display: none; }
	body.layout-2col_32 .ym-col3 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }

	/* Layout: 2col_31 (special/advanced view) */
	body.layout-2col_31 .ym-col1 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-2col_31 .ym-col2 { /* @hide */ display: none; }
	body.layout-2col_31 .ym-col3 { /* @hide */ display: none; }

	/* Layout: 2col_23 (special/advanced view) */
	body.layout-2col_23 .ym-col1 { /* @hide */ display:none; }
	body.layout-2col_23 .ym-col2 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-2col_23 .ym-col3 { /* @hide */ display: none; }

	/* Layout: 3col_132 (normal/default view - YAML core column order) */
	body.layout-3col_132 .ym-col1 { /* @hide */ display: none; }
	body.layout-3col_132 .ym-col2 { /* @hide */ display: none; }
	body.layout-3col_132 .ym-col3 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }

	/* Layout: 3col_123 (special/advanced view) */
	body.layout-3col_123 .ym-col1 { /* @hide */ display: none; }
	body.layout-3col_123 .ym-col2 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-3col_123 .ym-col3 { /* @hide */ display: none; }

	/* Layout: 3col_213 (special/advanced view) */
	body #main { width: 100%; float:left; }
	body.layout-3col_213 .ym-col1 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-3col_213 .ym-col2 { /* @hide */ display: none; }
	body.layout-3col_213 .ym-col3 { /* @hide */ display: none; }

	/* Layout: 3col_231 (special/advanced view) */
	body.layout-3col_231 .ym-col1 { /* @hide */ display: none; }
	body.layout-3col_231 .ym-col2 { /* @hide */ display: none; }
	body.layout-3col_231 .ym-col3 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }

	/* Layout: 3col_312 (special/advanced view) */
	body #main { width: 100%; float:left; }
	body.layout-3col_312 .ym-col1 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-3col_312 .ym-col2 { /* @hide */ display: none; }
	body.layout-3col_312 .ym-col3 { /* @hide */ display: none; }

	/* Layout: 3col_321 (special/advanced view) */
	body.layout-3col_321 .ym-col1 { /* @hide */ display: none; }
	body.layout-3col_321 .ym-col2 { /* main  */ float: none; width: 100%; margin: 0; padding: 0; border: 0; }
	body.layout-3col_321 .ym-col3 { /* @hide */ display: none; }

}
