@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@media all {
	.jyaml-mobilenav {
		background: #fff;
		color: #fff;
		text-align: left;
	}

	.jyaml-mobilenav .mobilenav-title {
		background: #45484d;
		background: -moz-linear-gradient(top, #45484d 0%, #000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
		background: -webkit-linear-gradient(top, #45484d 0%, #000 100%);
		background: -o-linear-gradient(top, #45484d 0%, #000 100%);
		background: -ms-linear-gradient(top, #45484d 0%, #000 100%);
		background: linear-gradient(to bottom, #45484d 0%, #000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);

		padding: 5px 8px;

		font-size: 16px;
		cursor: pointer;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: bold;
	}

	.jyaml-mobilenav .mobilenav-active {
		font-weight: normal;
	}

	.jyaml-mobilenav .mobilenav-title .icon-list:before {
		background: url(../images/navigation/icon-list.svg) 50% .25em no-repeat;
		height: 1em;
		width: 1em;
		text-align: center;
		content: '';
		display: inline-block;
	}

	.jyaml-mobilenav .mobilenav-menu ul,
	.jyaml-mobilenav .mobilenav-menu ul li,
	.jyaml-mobilenav .mobilenav-menu ul li a {
		display: block;
		overflow: hidden;
		background: #fff;
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
	}

	.jyaml-mobilenav .mobilenav-menu {
		font-size: 14px;
		border-bottom: 3px solid #45484d;
	}

	.jyaml-mobilenav div.menuitem-content {
		background: #f6f6f6;
		border-bottom: 1px solid #45484d;
		padding: 5px;
		color: #333;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a {
		border-bottom: 1px solid #45484d;
		color: #000;

		background: #f6f6f6;
		background: -moz-linear-gradient(top, #f6f6f6 0%, #e4e4e4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e4e4e4));
		background: -webkit-linear-gradient(top, #f6f6f6 0%, #e4e4e4 100%);
		background: -o-linear-gradient(top, #f6f6f6 0%, #e4e4e4 100%);
		background: -ms-linear-gradient(top, #f6f6f6 0%, #e4e4e4 100%);
		background: linear-gradient(to bottom, #f6f6f6 0%, #e4e4e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e4e4e4', GradientType=0);
	}

	.jyaml-mobilenav .mobilenav-menu ul li a:hover,
	.jyaml-mobilenav .mobilenav-menu ul li a:focus,
	.jyaml-mobilenav .mobilenav-menu ul li a:active {
		background: #b3b3b3;
		background: -moz-linear-gradient(top, #b3b3b3 0%, #999 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3b3b3), color-stop(100%, #999));
		background: -webkit-linear-gradient(top, #b3b3b3 0%, #999 100%);
		background: -o-linear-gradient(top, #b3b3b3 0%, #999 100%);
		background: -ms-linear-gradient(top, #b3b3b3 0%, #999 100%);
		background: linear-gradient(to bottom, #b3b3b3 0%, #999 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#999999', GradientType=0);

		color: #fff;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a.current_link {
		background: #949494;
		background: -moz-linear-gradient(top, #949494 0%, #7e7e7e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949494), color-stop(100%, #7e7e7e));
		background: -webkit-linear-gradient(top, #949494 0%, #7e7e7e 100%);
		background: -o-linear-gradient(top, #949494 0%, #7e7e7e 100%);
		background: -ms-linear-gradient(top, #949494 0%, #7e7e7e 100%);
		background: linear-gradient(to bottom, #949494 0%, #7e7e7e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#7e7e7e', GradientType=0);

		color: #fff;
	}

	.jyaml-mobilenav .mobilenav-menu ul > li > a.separator,
	.jyaml-mobilenav .mobilenav-menu ul > li > a.separator:hover,
	.jyaml-mobilenav .mobilenav-menu ul > li > a.separator:focus,
	.jyaml-mobilenav .mobilenav-menu ul > li > a.separator:active {
		background: #f6f6f6;
		color: #000;
		border-bottom: 0;
		cursor: default;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a span {
		display: block;
		width: auto;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a span.item-title {
		padding: 5px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a span.subtitle {
		color: #666;
		font-size: 11px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a:hover span.subtitle,
	.jyaml-mobilenav .mobilenav-menu ul li a:focus span.subtitle,
	.jyaml-mobilenav .mobilenav-menu ul li a:active span.subtitle,
	.jyaml-mobilenav .mobilenav-menu ul li a.current_link span.subtitle {
		color: #eee;
	}

	.jyaml-mobilenav .mobilenav-menu ul li a span.subtitle-empty {
		display: none;
	}

	.jyaml-mobilenav .mobilenav-menu ul li li a span.item-title {
		padding-left: 20px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li li li a span.item-title {
		padding-left: 40px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li li li a span.item-title {
		padding-left: 60px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li li li li a span.item-title {
		padding-left: 80px;
	}

	.jyaml-mobilenav .mobilenav-menu ul li li li li a span.item-title {
		padding-left: 100px;
	}

	/*
	 * Sometimes a menu has additional contents like title,
	 * but the mobilenav script cant hide it if its outer the ul container.
	 *
	 * For this you can use the class body.jyaml-mobilenav-active for further adjustments.
	 * For example:
	 */
	/*
	  body.jyaml-mobilenav-active nav {
		  dispay:none;
	  }
	  */
}
