@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/**
 * Optional: Import YAML stylesheet nav_vlist.css as base
 * @import url(../../../libraries/jyaml/yaml/navigation/vlist.css);
 */

@media all
{
  .ym-vlist {
    width:100%;
    overflow:hidden;
    margin:0 0 1.5em 0;
    list-style-type:none;
    line-height:1em;
    border-top:2px #ddd solid;
    border-bottom:2px #ddd solid;
  }

  .ym-vlist ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .ym-vlist li {
    float:left; /* LTR */
    width:100%;
    margin:0;
    padding:0;
    font-size:1.0em;
    line-height:1em;
  }

  .ym-vlist a,
  .ym-vlist strong,
  .ym-vlist span.separator {
    display:block;
    padding:0.5em 0px 0.5em 10%;
    text-decoration:none;
    border-bottom:1px #ddd solid;
  }

  .ym-vlist a,
  .ym-vlist a:visited {
    color:#444;
  }

  .ym-vlist li span.subtitle {
    display: block;
    font-size: smaller;
    font-weight: normal;
  }

  /* You can use .maintitle, .subtitle-0, .subtitle-1, .subtitle-2, etc. to adjust the maintitle or each subtitle line */
  .ym-vlist ul li span.subtitle-0 {
    margin-top: .5em;
  }

  .ym-vlist li span.subtitle-empty,
  .ym-vlist li span.subtitle-blank {
    display: none;
  }

  /*
   * Note: The class .active is set on all parents and current link
   *       Use "li.current" and "li.current .active_link" to only adjust the current link
   */

  /* active element */
  .ym-vlist li.active .active_link,
  .ym-vlist li.active a.active_link,
  .ym-vlist li.active strong.active_link {
    font-weight:bold;
  }
  /* current element */
  .ym-vlist li.current .current_link,
  .ym-vlist li.current a.current_link,
  .ym-vlist li.current strong.current_link {
    color:#fff;
    background-color:#444;
  }

  /* Level 1 */
  .ym-vlist li a,
  .ym-vlist li strong,
  .ym-vlist li span.separator { width:90%; padding-left:10%; } /* LTR */

  .ym-vlist li a:focus,
  .ym-vlist li a:hover,
  .ym-vlist li a:active { background-color:#888; color:#fff; outline: 0 none; }

  /* Level 2 */
  .ym-vlist li ul li a,
  .ym-vlist li ul li strong,
  .ym-vlist li ul li span.separator { width:80%; padding-left:20%; } /* LTR */

  .ym-vlist li ul li a,
  .ym-vlist li ul li a:visited { background-color:#f8f8f8; color:#333; }
  .ym-vlist li ul li a:focus,
  .ym-vlist li ul li a:hover,
  .ym-vlist li ul li a:active { background-color:#888; color:#fff; }

  /* Level 3 */
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li strong,
  .ym-vlist li ul li ul li span.separator { width:70%; padding-left:30%; } /* LTR */

  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li a:visited { background-color:#f0f0f0; color:#222; }
  .ym-vlist li ul li ul li a:focus,
  .ym-vlist li ul li ul li a:hover,
  .ym-vlist li ul li ul li a:active { background-color:#888; color:#fff; }

  /* Level 4 */
  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li strong,
  .ym-vlist li ul li ul li ul li span.separator { width:60%; padding-left:40%; } /* LTR */

  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li a:visited { background-color:#e8e8e8; color:#111; }
  .ym-vlist li ul li ul li ul li a:focus,
  .ym-vlist li ul li ul li ul li a:hover,
  .ym-vlist li ul li ul li ul li a:active { background-color:#888; color:#fff; }
}
