@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/**
 * Note:
 * For consistent CSS styling with and without javascript
 * by nested lists follow these instructions.
 *
 * Ok, but don't work if javascript enabled
 *  .dropdown li {}
 *  .dropdown li li {}
 *
 * Use for nested li-tag's the class viewLevel[n]
 *  .dropdown li.viewLevel0 {} - corresponds li
 *  .dropdown li.viewLevel1 {} - corresponds li li
 *  .dropdown li.viewLevel2 {} - corresponds li li li
 *
 * Use for nested ul-tag's the class dropitemLevel[n]
 *  .dropdown ul.dropitemLevel0 {} - corresponds ul
 *  .dropdown ul.dropitemLevel1 {} - corresponds ul ul
 *
 */

@import url(../../../libraries/jyaml/html/css/accessible_dropdown_base.css);

@media all
{
	/**
	 * Level class note:
	 * li.level is the menuitem level in database
	 * li.viewLevel is the optical level in the list
	 */

	.dropdown,
	.dropdown ul,
	.dropdown li,
	.dropdown a {
		background-color: transparent;
		/* Fixes some hover issues for all browsers */
		background-image: url(../images/blank.gif);
	}

	.js .dropdown .dropitem a,
	.js .dropdown .dropitem span {
		white-space: nowrap; /* rescrict word-wrap - better auto-width calculation for menu script */
	}

	.dropdown li a {
		text-decoration: none;
	}

	.dropdown li a:hover,
	.dropdown li a:focus,
	.dropdown li.hover a.hover {
		background: #F8C075 !important;
		color: #000 !important;
		text-decoration: none;
	}
	.dropdown li:hover > a {
		background: #F8C075 !important;
		color: #000 !important;
		text-decoration: none;
	}

	.dropitem .menuitem-content { overflow: hidden; }

	.dropdown .menuitem-content {
		background: #eee;

		/*
		 * Default with for menu module positions
		 * Fixed with or min-width is requried for robust layout
		 */
		min-width: 200px;
	}

	.dropdown-horizontal {
		background:#eee;
	}

	.dropdown-horizontal .dropitem {
		/* @optional: fix width for submenus (not compatible with linear mode) */
		/* width: 175px !important; */
	}
	.dropdown-vertical .dropitem {
		/* @optional: fix width for submenus (not compatible with linear mode) */
		/* width: 175px !important; */
	}

	.dropdown-vertical li a {
		background: #eee;
		color:#000;
		padding:0;
		text-decoration:none;
	}
	.dropdown-vertical li a span {
		display: block;
		/* white-space: nowrap; */
	}
	.dropdown-vertical li span.item-title {
		padding:0.5em 0.8em 0.5em 0.8em;
	}

	.dropdown-horizontal li.viewLevel0 {
		margin-right: 1px;
	}

	.dropdown-horizontal li.viewLevel1 {
		margin-bottom: 0px;
	}

	.dropdown-horizontal li a {
		background: #eee;
		color:#000;
		padding:0;
		text-decoration:none;
	}

	.dropdown-horizontal li a span {
		display: block;
		/* white-space: nowrap; */
	}
	.dropdown-horizontal li span.item-title {
		padding:0.5em 0.8em 0.5em 0.8em;
	}

	.dropdown-horizontal li span.subtitle {
		/* You can use .maintitle, .subtitle-1, .subtitle-2, .subtitle-3, etc. to adjust the maintitle or each subtitle line */
		display: block;
		font-size: smaller;
		font-weight: normal;
		color: #444;
	}

	.dropdown-horizontal li.viewLevel0 a {
		background: #ccc;
	}

	.dropdown-horizontal li.viewLevel1 a {
		background: #eee; /* fallback: disabled javascript */
	}

	.dropdown-horizontal li.viewLevel1 {
		margin-right:0; /* fallback: disabled javascript */
	}

	.dropdown-linear ul {
		width: 100%;
		background:#eee;
	}
	.dropdown-linear .dropitem ul {
		background: #f9f9f9;
	}
	.dropdown-linear .dropitem li {
		width: 20%;
	}

	.dropdown-linear .dropitem li.item-once {
		/* important in webkit browsers (e.g. safari and chrome) to strech contents on a menuitem content to 100% */
		width: 100%;
	}

	.dropdown-horizontal li.viewLevel1 span.subtitle-empty { display: none; }
	.dropdown-linear li.viewLevel1 span.subtitle-empty { display: block; }

	/**
	 * Example for special positioning on level 0.
	 */
	/*
	.dropdown .dropitemLevel0,
	.js .dropdown .dropitemLevel0-Helper {
		margin-left:-10px;
	}
	.js .dropdown .dropitemLevel0 { margin-left: 0; }
	*/

	/**
	 * Simple CSS3 example how to work with border-radius and box-shadow.
	 */
	/*
  .dropdown-horizontal .dropitem-content {
    background: #fafafa;
    padding: 5px;

    margin: 0 4px 4px 0;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  */


}
