@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@media all
{
	.ym-hlist {
		/* containing floats in IE */
		width:100%;
		overflow:hidden;
		/* Bugfix:IE - collapsing horizontal margins */
		position:relative;
		line-height:1em;
		background: #222;
	}

	.ym-hlist ul {
		margin:0;
		padding: 0.5em 1.5em;
		/* Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
	}

	.ym-hlist ul li {
		/* Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
		font-size:1.0em;
		line-height:1em;
		list-style-type:none;
		margin: 0 .25em 0 0;
		padding:0;
	}

	.ym-hlist ul li a,
	.ym-hlist ul li strong,
	.ym-hlist ul li span.separator {
		background:transparent;
		color:#aaa;
		display:block;
		font-size:1em;
		line-height:1em;
		padding: 0.5em 0.8em;
		font-weight:normal;
		text-decoration:none;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		width:auto;

		-webkit-border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		border-radius: 0.2em;

		-webkit-transition: background-color .15s ease-in;
		-moz-transition: background-color .15s ease-in;
		-o-transition: background-color .15s ease-in;
		transition: background-color .15s ease-in;
	}

	.ym-hlist ul li a:focus,
	.ym-hlist ul li a:hover,
	.ym-hlist ul li a:active {
		color: #ccc;
		background:#666;
		background: rgba(255,255,255,.25);
		text-decoration:none;
		outline: 0 none;

		-webkit-transition: background-color .2s ease-out;
		-moz-transition: background-color .2s ease-out;
		-o-transition: background-color .2s ease-out;
		transition: background-color .2s ease-out;
	}

	.ym-hlist ul li.active {
		background:#666;
		background: rgba(255,255,255,.3);
		-webkit-border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		border-radius: 0.2em;
		color: #fff;
	}

	.ym-hlist ul li.active strong,
	.ym-hlist ul li.active span.separator,
	.ym-hlist ul li.active a.active_link,
	.ym-hlist ul li.active a:focus,
	.ym-hlist ul li.active a:hover,
	.ym-hlist ul li.active a:active {
		background:transparent;
		color:#fff;
		text-decoration:none;
	}

	/*
	 * Subtitle support. Split menu title (defaults with ##).
	 * You can change the separator value in the template params by menu options
	 */
	* html .ym-hlist ul li a {
		position: relative; /* IE5+6 hover fix need with subtitles */
	}

	.ym-hlist ul li a span,
	.ym-hlist ul li strong span,
	.ym-hlist ul li span.separator span {
		display: block;
	}

	.ym-hlist ul li span.subtitle {
		display: block;
		font-size: smaller;
		font-weight: normal;
		color: #777;
	}

	/* You can use .maintitle, .subtitle-0, .subtitle-1, .subtitle-2, etc. to adjust the maintitle or each subtitle line */
	.ym-hlist ul li span.subtitle-0 {
		margin-top: .5em;
	}

	/* .hlist ul li span.subtitle-empty { display: none; } */

	.ym-hlist ul li a:focus span.subtitle,
	.ym-hlist ul li a:hover span.subtitle,
	.ym-hlist ul li a:active span.subtitle {
		color: #aaa;
	}

	.ym-hlist ul li.active strong span.subtitle,
	.ym-hlist ul li.active span.separator span.subtitle,
	.ym-hlist ul li.active a.active_link span.subtitle,
	.ym-hlist ul li.active a:focus span.subtitle,
	.ym-hlist ul li.active a:hover span.subtitle,
	.ym-hlist ul li.active a:active span.subtitle {
		color: #ccc;
	}

}
