@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/**
 * Note:
 * For consistent CSS styling with and without javascript
 * by nested lists follow these instructions.
 *
 * Ok, but don't work if javascript enabled
 *  .dropdown li {}
 *  .dropdown li li {}
 *
 * Use for nested li-tag's the class viewLevel[n]
 *  .dropdown li.viewLevel0 {} - corresponds li
 *  .dropdown li.viewLevel1 {} - corresponds li li
 *  .dropdown li.viewLevel2 {} - corresponds li li li
 *
 * Use for nested ul-tag's the class dropitemLevel[n]
 *  .dropdown ul.dropitemLevel0 {} - corresponds ul
 *  .dropdown ul.dropitemLevel1 {} - corresponds ul ul
 *
 */

@import url(../../../libraries/jyaml/html/css/accessible_dropdown_patch.css);

@media all
{
	/**
	 * General fixes
	 *
	 * @workaround
	 * @affected   IE6
	 * @css-for    IE6
	 * @valid      yes
	 */
	* html .dropdown-horizontal li a {
		width: auto;
	}
	* html .dropdown-horizontal li a span {
		float: left;
		clear: left;
	}

	/**
	 * In IE6 we need a fix initial width for the first submenu
	 *
	 * @workaround
	 * @affected   IE6
	 * @css-for    IE6
	 * @valid      yes
	 */
	* html .dropdown .dropitem {
		width: .1em !important;
	}


	/* your own adjustments */
	/* ... */


}
