@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */


@media all
{
	.js .jyaml-accordion .current-info {
		/* accessible info text */
		position:absolute;
		/* top:-32768px; - do not use this, because focus does scroll always to top */
		left:-32768px;
	}

	.jyaml-accordion {
		width: 100%;
		position:relative;
	}

	.js .jyaml-accordion {
		margin-bottom: 1em;
	}

	.js .jyaml-accordion .accordion_content {
		border: 3px solid #ddd;
	}

	.js .jyaml-accordion .accordionhead {
		background: transparent;
		padding: 0;
		margin: 0;
		border: 0;

		color: #333;
		border-bottom: 1px solid #ddd;

		cursor: pointer;
	}
	.js .jyaml-accordion .accordion-container-last .accordionhead {
		border-bottom: 0;
	}

	.jyaml-accordion .accordionhead a {
		display: block;
		padding: 0;
		margin: 0;
		border: 0;
		color: #000;
		font-weight: bold;
		background: #ccc;
		text-decoration: none;
	}
	.jyaml-accordion .accordionhead a span {
		display: block;
		padding: .2em .3em;
	}

	.jyaml-accordion .accordionhead a:focus,
	.jyaml-accordion .accordionhead a:hover,
	.jyaml-accordion .accordionhead a:active {
		background: #daa;
		font-weight: bold;
		color: #000;
		text-decoration: none;

		outline: 0px none;
	}

	.jyaml-accordion .current-head a,
	.jyaml-accordion .current-head a:focus,
	.jyaml-accordion .current-head a:hover,
	.jyaml-accordion .current-head a:active {
		background: #333;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		outline: 0px none;
		cursor: default;
	}

	.js .jyaml-accordion .accordionbody {
		/* Reset is important to calculate the right heights/widths */
		padding: 0 !important;
		margin: 0 !important;
		border: 0 !important;
	}
	.js .jyaml-accordion .accordion_content {
		background: #eee;
	}
	.js .jyaml-accordion .accordionbody-content {
		padding: 1em;
		margin: 0;
		border: 0;
		color: #333;
	}

	.js .jyaml-accordion-horizontal .accordion-container,
	.js .jyaml-accordion-horizontal .accordion-container .accordionhead,
	.js .jyaml-accordion-horizontal .accordion-container .accordionbody {
		float: left !important;
		position: relative;
	}

	.js .jyaml-accordion-horizontal .accordionhead {
		width: 50px; /* Fixed width is required! (only px) */
		overflow: hidden;
		border-left: 1px solid #000;
	}
	/*
	 * Optionl: Image replacement recommended on horizontal accordion
	 *
			.js .jyaml-accordion-horizontal .accordionhead a span {
				text-indent: -999em;
				background: url(path/to/image.png) no-repeat left top;
			}
	 *
	 */

	.js .jyaml-accordion-horizontal .accordion-container-first .accordionhead {
		border-left: 0;
	}
	.js .jyaml-accordion-horizontal .accordionbody {
		width: 100px;
	}

}
