@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */


@media all
{
	/**
	 * ! Initial - required !
	 */
	.jyaml-slider {
		position: relative;
		zoom: 1;
	}

	.jyaml-slider .slider_inner {
		position: relative;
	}
	.jyaml-slider .slider_content {
		position: relative; /* Required for IE7 to hide overflow */
		overflow: auto;
		/* Initial height if JavaScript is disabled */
		max-height: 200px;
		zoom: 1;
	}
	.js .jyaml-slider .slider_content {
		overflow: hidden;
		max-height: none;
	}
	.jyaml-slider .slider-item {
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	/* *** */


	/**
	 * Layout
	 */
	.js .jyaml-slider {
		margin: 1em 0;

		-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
		box-shadow: 0 0 5px rgba(0,0,0,0.4);

		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #888;
	}
	.js .jyaml-slider .slider_content {
		background: #f5f5f5;
	}
	.js .jyaml-slider .slider_inner {
		padding: 3px;
	}
	.js .jyaml-slider .slider-item-content:focus {
		outline: 0px none;
	}

	/**
	 * Fix width of to big images within content
	 * Only works in modern browsers
	 */
	.jyaml-slider .slider-col-content img {
		max-width: 100%;
		height: auto;
	}

	/**
	 * Content columns/rows
	 */
	.jyaml-slider .slider-col-content {
		padding: 1em;
		margin: 0 0.25em;
	}
	.jyaml-slider .slider-col-first .slider-col-content {
		margin-left: 0;
		margin-right: 0.5em; /* double margin to equal width */
	}
	.jyaml-slider .slider-col-last .slider-col-content {
		margin-right: 0;
		margin-left: 0.5em; /* double margin to equal width */
	}
	.jyaml-slider .slider-col-once .slider-col-content {
		margin-left: 0; margin-right: 0; /* one column */
	}

	/**
	 * Previous/Next buttons
	 */
	.js .jyaml-slider {
		margin-left: 0;
		margin-right: 0;
	}
	.jyaml-slider[class~=hasNavPrevNext] {
		/* Space - outside contents */
		margin-left: 20px;
		margin-right: 20px;
	}

	.jyaml-slider .pager {
		position: absolute;
		top: 0; bottom: 0;
		z-index: 5;

		display: block;
		overflow: hidden;
		cursor: pointer;

		width: 16px;
		background: transparent;
		background-image: url(../images/slider/pagination.png);
		background-repeat: no-repeat;

		text-decoration: none;
		outline: 0px none;
		color: #fff;
	}
	.jyaml-slider .pager span {
		/* Hide pager text */
		position:absolute;
		left:-32768px;
	}
	.jyaml-slider .page-prev {
		left: -20px; right: auto;
		background-position: -82px center;
	}
	.jyaml-slider .page-prev:hover {
		background-position: -42px center;
	}
	.jyaml-slider .page-prev-disabled {
		background-position: -82px center !important;
	}
	.jyaml-slider .page-next {
		left: auto; right: -20px;
		background-position: -102px center;
	}
	.jyaml-slider .page-next:hover {
		background-position: -62px center;
	}
	.jyaml-slider .page-next-disabled {
		background-position: -102px center !important;
	}
	.jyaml-slider .pager-disabled {
		cursor: default;
		opacity: .25; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=25); /* IE lt 8 */
		-ms-filter: "alpha(opacity=25)"; /* IE 8 */
		-khtml-opacity: .25; /* Safari 1.x */
		-moz-opacity: .25; /* FF lt 1.5, Netscape */
	}

	/**
	 * Pagination buttons
	 */
	.jyaml-slider .pagination {
		position: relative;
		text-align: center;
		background: #ddd;

		-webkit-border-radius: 5px;
		border-radius: 5px;

		height: 22px;
	}
	.jyaml-slider .pagination_content {
		display: inline; /* IE7 fallback */
		display: inline-block;
		margin: 0 auto;

		padding: 3px 0;
	}
	.jyaml-slider .pagination a {
		display: inline; /* IE7 fallback */
		display: inline-block;
		cursor: pointer;

		padding: 0;
		margin: 0;
		text-decoration: none;
		outline: 0px none;

		width: 16px;
		height: 16px;
		overflow: hidden;

		background: url(../images/slider/pagination.png) no-repeat -12px -110px;
		color: #000;
	}
	.jyaml-slider .pagination a span {
		/* hide page nums */
		position:absolute;
		left:-32768px;
	}
	.jyaml-slider .pagination a.current {
		background-position: -12px -10px;
	}

	/**
	 * Play/Stop buttons
	 */
	.jyaml-slider .autoslide {
		position: absolute; z-index: 10;
		bottom: 2px; left: 2px;
	}
	.jyaml-slider .autoslide a {
		cursor: pointer;

		display: block;
		overflow: hidden;
		position: relative;

		width: 16px;
		height: 16px;

		background: transparent;
		background-image: url(../images/slider/pagination.png);
		background-repeat: no-repeat;

		text-decoration: none;
		outline: 0px none;
	}
	.jyaml-slider .autoslide a span {
		/* hide text */
		position:absolute;
		left:-32768px;
	}
	.jyaml-slider .autoslide a.play {
		background-position: 0px -172px;
	}
	.jyaml-slider .autoslide a.stop {
		background-position: -16px -172px;
	}

	.jyaml-slider .autoslide-loadingbar {
		position: absolute;
		left: 3px; right: 3px;
		bottom: 23px;
	}
	.jyaml-slider .autoslide-loadingbar .bar {
		height: 1px;
		background: #000;

		-moz-box-shadow: 0 0 3px rgba(0,0,0,0.9);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.9);
		box-shadow: 0 0 3px rgba(0,0,0,0.9);
	}

}
