@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@media all {

	.article-form-edit-tabs .tabbody-content {
		padding: 1em 0;
	}

	.ym-form .article-form-edit-tabs .ym-fbox {
		border-bottom: 1px solid #ccc;
		padding-bottom: .5em;
		margin-bottom: .5em;
	}

	.ym-form .mce-btn button {
		background: inherit;
		margin: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}
