@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@import url(../../../libraries/jyaml/html/css/accessible_tabs.css);

@media screen, projection {

	.jyaml-tabs {
		margin:1.5em 0 0;
	}

	.jyaml-tabs ul.tabs-list {
		font-size:1em;
		line-height:1.5em;
	}

	.jyaml-tabs ul.tabs-list li a {
		font-size:1em;
		line-height: 1.5em;
		padding:0.75em;
	}

	.jyaml-tabs .content {
		border-top:1px #ccc solid;
		padding: 0;
		top:-1px;
		margin-bottom:-1px;
	}

	.jyaml-tabs ul.tabs-list li {
		margin:0 0.3em 0 0;
	}

	.jyaml-tabs ul.tabs-list li a {
		background: transparent;
		color:#008;
		margin:0;
		font-weight:normal;
	}

	.jyaml-tabs ul.tabs-list li a:focus,
	.jyaml-tabs ul.tabs-list li a:hover,
	.jyaml-tabs ul.tabs-list li a:active {
		background:#eee;
		border-radius: 0.2em 0.2em 0 0;
		color:#000;
		font-weight:normal;
		outline: 0 none;
		text-decoration:none;
	}

	.jyaml-tabs ul.tabs-list li.current a,
	.jyaml-tabs ul.tabs-list li.current a:focus,
	.jyaml-tabs ul.tabs-list li.current a:hover,
	.jyaml-tabs ul.tabs-list li.current a:active {
		background:#fff;
		border:1px #ccc solid;
		border-bottom:0 none;
		border-radius: 0.2em 0.2em 0 0;
		color:#000;
		font-weight:bold;
		text-decoration:none;
	}

	/**
	 * Avoid margin collapsing to enable correct sync of all tabs
	 *
	 * @workaround
	 * @affected all browsers
	 * @css-for all browsers
	 * @valid yes
	 */

	.jyaml-tabs .tab-content {
		border-bottom: 1px transparent solid;
		border-top: 1px transparent solid;
		*overflow:hidden;
	}

	/* IE < 7 don't support transparent borders */
	* html .jyaml-tabs .tab-content {
		border-bottom: 1px #fff solid;
		border-top: 1px #fff solid;
	}

	/*
	 * Pagination
	 */
	.jyaml-tabs .pagination {
		zoom: 1;
		position: absolute;
		float:right;
		right: 0;
		top: -20px;
		z-index: 1;
	}
	.jyaml-tabs ul.pagination,
	.jyaml-tabs ul.pagination li
	{
		list-style: none none;
		margin: 0;
		border: 0;
		padding: 0;
	}

	.jyaml-tabs ul.pagination li {}
	.jyaml-tabs ul.pagination li.previous { border-right: 1px solid #ccc; }

	.jyaml-tabs ul.pagination li a {
		display: block;
		width:8px;
		height:8px;
		overflow: hidden;

		margin:0;
		padding:3px;
		border:0;

		background-color:transparent;
		background-image: url(../images/tabs/pagination.png);
		background-repeat: no-repeat;
	}

	.jyaml-tabs ul.pagination li a span {
		position: absolute;
		top: -32768px;
		left: -32768px;
		padding: 0;
		margin: 0;
		border: 0;
		background: transparent;
	}

	.jyaml-tabs ul.pagination li.previous a {
		background-position: 5px 3px;
	}
	.jyaml-tabs ul.pagination li.previous a:focus,
	.jyaml-tabs ul.pagination li.previous a:hover,
	.jyaml-tabs ul.pagination li.previous a:active {
		background-color:transparent;
		background-position: 5px -97px;
	}

	.jyaml-tabs ul.pagination li.next a {
		background-position: -95px 3px;
	}
	.jyaml-tabs ul.pagination li.next a:focus,
	.jyaml-tabs ul.pagination li.next a:hover,
	.jyaml-tabs ul.pagination li.next a:active {
		background-color:transparent;
		background-position: -95px -97px;
	}

	/**
	 * Bottom tabs-list
	 */
	.jyaml-tabs-list-bottom .content {
		border-top: 0 none;
		border-bottom: 1px #ccc solid;
		top: 0;
		margin-bottom: 0;
	}
	.jyaml-tabs-list-bottom ul.tabs-list li.current a,
	.jyaml-tabs-list-bottom ul.tabs-list li.current a:focus,
	.jyaml-tabs-list-bottom ul.tabs-list li.current a:hover,
	.jyaml-tabs-list-bottom ul.tabs-list li.current a:active {
		border: 1px #ccc solid;
		border-top: 0 none;
	}

	/**
	 * Vertical tabs (left)
	 */
	.jyaml-tabs-vertical
	{
		border: 3px solid #eee;
	}
	.jyaml-tabs-vertical ul.tabs-list
	{
		width: 20%;
	}
	.jyaml-tabs-vertical ul.tabs-list,
	.jyaml-tabs-vertical ul.tabs-list li,
	.jyaml-tabs-vertical .content
	{
		border-left: 0;
		border-right: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.jyaml-tabs-vertical ul.tabs-list
	{
		border-top: 1px solid #ccc;
	}
	.jyaml-tabs-vertical ul.tabs-list li
	{
		display: block;
		width: 100%;
	}

	.jyaml-tabs-vertical ul.tabs-list li a {
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		border-bottom: 1px solid #ccc;
	}
	.jyaml-tabs-vertical ul.tabs-list li a span
	{
		display: block;
		padding:0.75em;
	}
	.jyaml-tabs-vertical ul.tabs-list li a:focus,
	.jyaml-tabs-vertical ul.tabs-list li a:hover,
	.jyaml-tabs-vertical ul.tabs-list li a:active {
		background: #eee;
		border-radius: 0;
		padding: 0;
		margin: 0;
		border: 0;
		border: 0;
		border-bottom: 1px solid #ccc;
	}
	.jyaml-tabs-vertical ul.tabs-list li.current a,
	.jyaml-tabs-vertical ul.tabs-list li.current a:focus,
	.jyaml-tabs-vertical ul.tabs-list li.current a:hover,
	.jyaml-tabs-vertical ul.tabs-list li.current a:active {
		border-radius: 0;
		padding: 0;
		margin: 0;
		border: 0;
		border: 0;
		border-bottom: 1px solid #ccc;
	}

	.jyaml-tabs-vertical .content
	{
		width: 80%;
		border: 0;
	}
	.jyaml-tabs-vertical .content .tabbody-content
	{
		padding: 1em;
	}

	.jyaml-tabs-vertical .pagination {
		right: 0px;
		top: 5px;
	}
}
