@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 * @package       JYAML
 * @subpackage    JYAML.Stylesheet
 *
 */

/* Import Joomla's system stylesheet */
@import url(../../system/css/error.css);

@media all
{
  body { text-align:center; }


  .error { width:600px; text-align:left; margin:0 auto; }
  .outline { width:auto;; }
  .errorboxoutline { width:auto; }

}
