/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

/**
 * FormField Stylesheet for some fields
 */
@media all
{
	.jyaml-hide {
		position: absolute !important;
		top: -32768px !important;
		left: -32768px !important;
	}
	.jyaml_help_link {
		float: right;
		margin: 0 0 1em 1em;
		position: relative;
		z-index: 1030;
	}

	.jyaml-group-entry,
	.jyaml-group-entry-ghost {
		margin-bottom: 1em;
		position: relative;
	}
	.jyaml-group-entry-ghost,
	.jyaml-group-entry-bordered {
		padding: 4px;
		background: #f7f7f9;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.jyaml-group-entry-ghost {
		border: 1px solid #fed22f;
		background: #ffe45c;
	}
	.jyaml-group-entry-bordered .jyaml-group-move-btn {
		cursor: move;
		position: absolute;
		left: -30px;
		top: 25px;
	}
	.jyaml-group-entry-bordered .jyaml-group-entry-remove {
		position: absolute;
		left: -30px;
		top: 0;
	}

	.jyaml-warning {
			padding-top: 5px;
			color: #c30;
	}
	.jyaml-option-warning {
		width: 100%;
		overflow: hidden;
		background: #FFE4E4;
		border-top: 1px solid #CC3300;
		border-bottom: 1px dotted #CC3300;
		padding: 5px 7px;
		margin: 0 0 5px 0;
		color: #000;
	}

	.jyamltemplate-advanced-container label { display: block; }
}
