/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version       $Id$
 *
 * @author        Reinhard Hiebl
 * @copyright     Copyright (C) 2006 - 2013, HieblMedia (Reinhard Hiebl)
 * @license       Creative Commons Attribution 3.0 Unported License
 *                  > http://www.jyaml.de/en/license
 * @link          http://www.jyaml.de
 * @package       JYAML
 * @subpackage    Stylesheet
 *
 */

@media screen, projection
{
	.jyaml-tabs ul.tabs-list {
		display:table;
		list-style: none none;
		margin: 0;
		position:relative;
		z-index:1;
	}

	.jyaml-tabs .tabhead {
		position:absolute;
		left:-32768px; /* LTR */
	}

	.jyaml-tabs .content {
		clear:both;
		position:relative;
	}

	.jyaml-tabs-vertical .content .tabbody
	{
		position:relative;
	}

	.jyaml-tabs ul.tabs-list li {
		list-style: none none;
		border: 0 none;
		margin: 0;
		display:inline;
		float:left;
		padding:0;
	}

	.jyaml-tabs ul.tabs-list li a {
		background: transparent;
		display:block;
		float:left;
	}

	.jyaml-tabs .current-info,
	.jyaml-tabs .accessibletabsanchor {
		left:-999em;
		position:absolute;
	}

	.jyaml-tabs-vertical ul.tabs-list,
	.jyaml-tabs-vertical ul.tabs-list li,
	.jyaml-tabs-vertical .content
	{
		border-left: 0;
		border-right: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.jyaml-tabs-vertical ul.tabs-list
	{
		display: block;
		float: left;
		width: 20%;
	}

	.jyaml-tabs-vertical .content
	{
		clear: none;
		float: left;
		width: 80%;
	}

	.jyaml-tabs-vertical .content
	{
		clear: none;
		float: left;
	}

	.jyaml-tabs-vertical ul.tabs-list,
	.jyaml-tabs-vertical .content
	{
		padding-bottom: 10000px;
		margin-bottom: -10000px;
	}

	/**
	 * Containing floats adjustment and stability fixes for Internet Explorer
	 *
	 * @workaround
	 * @affected IE 5.x/Win, IE6, IE7
	 * @css-for IE 5.x/Win, IE6, IE7
	 * @valid no
	 */

	* html .jyaml-tabs .content { z-index:-1; }

	* html .jyaml-tabs { zoom:1; width:auto; position:relative; }
	*+html .jyaml-tabs { zoom:1; width:auto; }

	.jyaml-tabs * { zoom:1; }

}
