@charset "UTF-8";

/**
 * JYAML - Template Framework includes YAML for Joomla!
 *
 * All rights reserved. The JYAML project is a template to manage and
 * configure Joomla!-Templates with the YAML XHTML/CSS Framework
 * - http://www.yaml.de
 *
 * -----------------------------------------------------------------------------
 *
 * @version     Id: $Id$
 *
 * @package     JYAML
 * @subpackage  JYAML.Dropdown.Stylesheet
 *
 * @author      Reinhard Hiebl <reinhard@hieblmedia.com>
 * @copyright   Copyright (C) 2006 - 2016, HieblMedia (Reinhard Hiebl)
 * @license     http://www.jyaml.de/en/license Creative Commons Attribution 3.0
 * @link        http://www.jyaml.de
 */

@media all
{
	/**
	 * General fixes with hasLayout
	 *
	 * @workaround
	 * @affected   IE 5.x/Win, IE6, IE 7
	 * @css-for    IE 5.x/Win, IE6, IE 7
	 * @valid      no
	 */
	.dropdown li,
	.dropdown ul,
	.dropdown .dropitem,
	.dropdown .dropitem a {
		zoom: 1;
	}

	/**
	 * Min-width fix
	 *
	 * @workaround
	 * @affected   IE6, IE 7
	 * @css-for    IE6, IE 7
	 * @valid      no
	 */
	.dropdown .dropitem {
		_width: 100%;
	}

	.dropdown-linear .dropitem,
	.dropdown-linear li li li {
		clear: left;
	}

	* html .dropdown .dropitem-content {
		position: static;
		top: auto;
		left: auto;
	}

	/**
	 * Fix the IE8 opacity(filter) link hover bug
	 * @see http://sandbox.hieblmedia.de/ie8-opacity-link-hover-bug/
	 *
	 * @workaround
	 * @affected   IE 8
	 * @css-for    IE 8
	 * @valid      no
	 */
	.dropdown li a {
		-ms-filter: "";
	}

}
